mat-card {
  max-width: 900px;
  margin: 0 auto;
}

.left {
  float: left;
}

.note .content {
  width: 600px;
}

.note .author-info {
  width: 300px;
}

mat-panel-title {
  display: block;
}

.listing-header .tile {
  width: 100px;
  float: left;
}

.scheduled-listings .listing .expand-button {
  text-align: right;
  clear: right;
  float: right;
  width: 200px;
}

.clear {
  clear: both;
}