.mat-column-severity {
  max-width: 90px;
}
.mat-column-createdAt {
  max-width: 130px;
}
.mat-column-message {
  margin-right: 20px;
}
/deep/.mat-column-references-description ul {
  margin-left: -20px; // ul has default margin between left edge and dot, setting it to 0 makes dot invisible
  li:first-letter {
    text-transform:capitalize;
  }
}
.critical {
  background-color: #E91E63;
}
.urgent {
  background-color: #B3E5FC;
}
