<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="severity">
    <mat-header-cell *matHeaderCellDef> Severity </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <mat-chip-list>
        <mat-chip>{{element.severity}}</mat-chip>
      </mat-chip-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ formatDate(element.createdAt) }}</mat-cell>
    </ng-container>

  <ng-container matColumnDef="message">
    <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.message}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="references description">
    <mat-header-cell *matHeaderCellDef> References description </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ul>
        <li *ngFor="let refDescription of extractRefDescriptions(element)"> {{refDescription}}</li>
      </ul>
  </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]"
               [showFirstLastButtons]="true">
</mat-paginator>

