<mat-table id="hearings-part-table" *ngIf="dataSource" #table [dataSource]="dataSource" (matSortChange)="nextTableSettingsValue()" matSort matSortActive="priority"
matSortDirection="desc">
  <ng-container matColumnDef="select_hearing">
    <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? toggleHearing(element) : null"
                    [checked]="hearingSelectionModel.isSelected(element)">&nbsp;
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="case_number">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Case Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caseNumber}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="case_title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Case Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caseTitle}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="case_type_description">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Case Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caseType?.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="communication_facilitator">
    <mat-header-cell class="communicationFacilitator" *matHeaderCellDef mat-sort-header> Communication Facilitator </mat-header-cell>
    <mat-cell class="communicationFacilitator" *matCellDef="let element"> {{element.communicationFacilitator}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="priority">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reserved_judge_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Reserved to Judge </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.reservedJudge?.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="number_of_sessions">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Required sessions </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.numberOfSessions}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hearing_type_description">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Hearing Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.hearingType?.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Estimated Duration </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.duration | appDurationFormat}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="schedule_start">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Target Schedule From </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{parseDate(element.scheduleStart)}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="schedule_end">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Target Schedule To </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{parseDate(element.scheduleEnd)}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="notes">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Notes </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span [class.clickable]="hasNotes(element)" (click)="openNotesDialog(element)">
        {{hasNotes(element) ? "Yes" : "No"}}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span [class.clickable]="true" (click)="openDeleteDialog(element)">Delete</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="editor">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="clickable" (click)="openEditDialog(element.id)">Edit</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator id="hearings-part-table-paginator"
               [length]="totalCount"
               [pageSize]="10"
               [pageSizeOptions]="[100, 10, 20]"
               (page)="nextTableSettingsValue()"
               showFirstLastButtons></mat-paginator>