<div class="container" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
  <div id="transactionBeingCreated" fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="!(transacted$ | async)">
    <p fxFlex>
      {{actionTitle}}
    </p>
    <p fxFlex>
      Potential problems will be displayed below when computation finishes.
    </p>
  </div>

  <div id="sessionCreationSummary" fxFlex fxLayout="column" fxLayoutGap="20px" *ngIf="(transacted$ | async) && !(conflicted$ | async)">
    <div fxFlex>
      Action summary
    </div>
    <div fxFlex>
        {{ (data?.summaryMsg$ | async) }}
    </div>
    <div fxFlex *ngIf="!(problemsLoaded$ | async)">
      Loading the problems...
    </div>
    <div *ngIf="(problems$ | async).length !== 0">
      New problems:
    </div>
    <div fxFlex *ngIf="(problemsLoaded$ | async) && ((problems$ | async).length === 0)">
      No new problems occurred!
    </div>
  </div>

  <div fxFlex fxLayout="column" fxLayoutGap="20px" *ngIf="conflicted$ | async">
      <div>
        Operation failed!
      </div>

      <div>
        Some of the modified resources are being or have been modified in the meantime. Please, reload the page and try again.
      </div>
  </div>

  <mat-spinner *ngIf="!(finished$ | async)" fxFlex></mat-spinner>

  <div id="problems" fxFlex>
    <div style="margin-top: 20px" *ngFor="let problem of problems$ | async; let i = index">
      <p>{{i + 1}}. {{problem.message}} - {{problem.severity}}</p>
      <ul>
        <li *ngFor="let reference of problem.references">{{reference.entityType}} - {{reference.description}}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="(finished$ | async) && (problems$ | async).length !== 0">
    Please confirm what action you’d like to take
  </div>
  <div fxLayout="row" fxFlexAlign="end" fxLayoutAlign="end" mat-dialog-actions>
    <button *ngIf="(finished$ | async)" id="okButton" mat-button (click)="onOkClick()">Accept</button>
    <button *ngIf="(finished$ | async) && (problems$ | async).length !== 0" mat-button (click)="onDeleteClick()">Rollback</button>
  </div>

</div>
