<mat-card id="sessions-filter">
  <mat-card-header>
    <mat-card-subtitle>Filter hearings</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="inputs-container" fxLayout="column" fxLayoutGap="0.5%">
    <mat-form-field>
      <input id="caseNumber" [(ngModel)]="filters.caseNumber"
             (change)="filters.caseNumber = filters.caseNumber.trim()"
             maxlength="{{caseNumberMaxLength}}" matInput placeholder="Case number" type="text">
    </mat-form-field>

    <mat-form-field>
      <input id="caseTitle" [(ngModel)]="filters.caseTitle"
             (change)="filters.caseTitle = filters.caseTitle.trim()"
             maxlength="{{caseTitleMaxLength}}" matInput placeholder="Case title" type="text" >
    </mat-form-field>

    <mat-form-field>
      <mat-select id="selectPriority" placeholder="Select priority level" multiple [(value)] = "filters.priorities">
          <mat-option *ngFor="let priority of priorities"
                      value="{{priority}}">{{priority}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select id="selectCaseType" placeholder="Select the case type" multiple [(value)] = "filters.caseTypes">
        <mat-option *ngFor="let caseType of caseTypes" selected="caseType.code === filters.caseType"
                    value="{{caseType.code}}">{{caseType.description}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select id="selectHearingType" placeholder="Select the hearing type" multiple [(value)] = "filters.hearingTypes">
        <mat-option *ngFor="let hearingType of hearingTypes" selected="hearingType.code === filters.hearingType"
                    value="{{hearingType.code}}">{{hearingType.description}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select id="selectCommunicationFacilitator" placeholder="Select communication facilitator need" multiple [(value)] = "filters.communicationFacilitators">
        <mat-option *ngFor="let element of communicationFacilitators"
                    value="{{element}}">{{element}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select id="selectJudge"  placeholder="Select reserved judges" multiple [(value)] = "filters.judges">
        <mat-option value="">(No judge)</mat-option>
        <mat-option *ngFor="let judge of judges" value="{{judge.id}}">{{judge.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card-content>
  <div fxLayout="column">
    <mat-card-header>
      <mat-card-subtitle>Listing details</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group class="listing-details-rb-group" [(ngModel)]="filters.listingDetails" fxLayout="column">
        <mat-radio-button class="listing-details-rb" [value]="'listed'">Listed</mat-radio-button>
        <mat-radio-button class="listing-details-rb" [value]="'unlisted'">Unlisted</mat-radio-button>
        <mat-radio-button class="listing-details-rb" [value]="''">All</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </div>

  <button id="filter" mat-raised-button color="accent" fxFlexAlign="center" (click)="sendFilter()">Filter</button>
</mat-card>
