<mat-toolbar color="primary" class="toolbar-container">
  <mat-toolbar-row>
      <span class="name-element">Scheduling and listing</span>

      <span class="example-spacer"></span>

      <div *ngIf="isInRole('officer')">
        <a mat-button routerLink='/' routerLinkActive="active">Main</a>
        <a mat-button [matMenuTriggerFor]="sessions">Sessions</a>
          <mat-menu #sessions="matMenu" color="primary" [overlapTrigger]="false" class="primary-colored-background">
            <a mat-menu-item routerLink="sessions/search" routerLinkActive="active" color="primary">Search</a>
            <a mat-menu-item routerLink="sessions/create" routerLinkActive="active">Create</a>
            <a mat-menu-item routerLink="sessions/search-proposition" routerLinkActive="active"> Search proposition</a>
          </mat-menu>
        <a mat-button routerLink='calendar' routerLinkActive="active">Calendar</a>
        <a mat-button routerLink='planner' routerLinkActive="active">Planner</a>
        <a mat-button routerLink='listing' routerLinkActive="active">Listing (new)</a>
        <a mat-button routerLink='problems' routerLinkActive="active">Problems</a>
      </div>

      <div *ngIf="isInRole('judge')">
        <a mat-button routerLink='/home/judge/main' routerLinkActive="active">Main</a>
        <a mat-button routerLink='/home/judge/diary-calendar' routerLinkActive="active">Calendar</a>
        <a mat-button routerLink='problems' routerLinkActive="active">Problems</a>
      </div>

    <span class="fill-space"></span>

    <div>
      <app-auth-toolbar-element ></app-auth-toolbar-element>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="toolbar-to-content-spacer" ></div>

<div class="content-container" style="margin-left: 15px">
  <router-outlet></router-outlet>
</div>
