<div *ngIf="calendarOptions" class="calendar-element">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions"
                   [(eventsModel)]="events">

  </ng-fullcalendar>

    <!--(eventClick)="eventClick($event.detail)"-->
    <!--(eventDrop)="updateEvent($event.detail)"-->
    <!--(eventResize)="updateEvent($event.detail)"-->
    <!--(clickButton)="clickButton($event.detail)"-->
    <!--<div *ngFor="let session of (sessions$ | async)">-->
        <!--{{session}}-->
    <!--</div>-->

</div>