<p *ngIf="errors">{{errors}}</p>

<div *ngIf="calendarOptions" class="calendar-element">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions"
                   (clickButton)="clickButton($event.detail)"
                   [(eventsModel)]="fullCalendarEventsModel"
                   (eventRender)="eventRender($event)"
                   (viewRender)="viewRender($event)"
                   (eventClick)="eventClick($event)"
                   (eventDrop)="eventDrop($event)"
                   (eventResize)="eventResize($event)"
                   (initialized)="calendarInitialized()"
  ></ng-fullcalendar>
</div>

