<p *ngIf="errors">{{errors}}</p>

<div *ngIf="calendarOptions" class="calendar-element">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions"
                   (clickButton)="clickButton($event.detail)"
                   [(eventsModel)]="events"
                   (eventRender)="eventRender($event)"
                   (viewRender)="viewRender($event)"
                   (eventClick)="eventClick($event)"
                   (eventDrop)="eventDrop($event)"
                   (eventResize)="eventResize($event)"
                   (drop)="drop($event)"
                   (eventMouseOver)="eventMouseOver($event)"
                   (eventMouseOut)="eventMouseOut($event)"
  ></ng-fullcalendar>
  <div class="draggable-hearing fc-event" data-hearingID="cf3a7605-5d27-45ef-a1a3-6424fe0a7376">My Event 1</div>

</div>

