<nav class="hmcts-sub-navigation" attr.aria-label="{{label}}">
    <ul class="hmcts-sub-navigation__list">
        <li class="hmcts-sub-navigation__item" *ngFor="let item of items">
            <a data-selector="sub-nav-link"
               class="hmcts-sub-navigation__link"
               (click)="click(item.href)"
               [attr.aria-current]="item.href === currentUrl ? '' : null"
               routerLink="{{item.href}}">
                {{item.text}}
            </a>
        </li>
    </ul>
</nav>
