<div>
    <button mat-raised-button (click)="configureRoomView()">Rooms</button>
    <button mat-raised-button (click)="configureJudgeView()">Judges</button>
</div>
<br />
<div>
  <app-core-callendar [preTransformedData]="sessions$ | async"
                      (loadData)="loadDataAction($event)"
                      (eventClickCallback)="eventClick($event)"
                      [resourceColumns]="columns"
                      [resources]="resources"
                      [dataTransformer]="dataTransformer"
                      [header]="header"
                      [defaultView]="defaultView"
  ></app-core-callendar>
</div>
