<div>
  <div>Choose start time</div>
  <div>
    <form [formGroup]="formGroup" novalidate (ngSubmit)="onListHearing()" id="list-hearing-form" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.5%">
      <div *ngIf="startTimeDisplayed">
        <mat-form-field>
          <input id="startTime" formControlName="startTime" matInput placeholder="Start time *" type="time" [(ngModel)]="startTime">
        </mat-form-field>
      </div>

      <app-note-list id="hearing-assignment-notes" #hearingAssignmentNotes [notes]="notes"></app-note-list>

      <div fxLayout="row" fxFlexAlign="end" fxLayoutAlign="end" mat-dialog-actions>
        <button type="submit" id="listHearingButton" mat-raised-button color="accent" fxFlexAlign="center" [disabled]="!formGroup.valid">List Hearing</button>
        <button type="button" mat-raised-button color="accent" fxFlexAlign="center" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
