<div class="draggable-hearing fc-event width-500" [attr.data-hearingid]="hearingPart.id" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="3%">
  <span fxFlex="25%">{{hearingPart.caseNumber}}</span>
  <span fxFlex="25%">{{hearingPart.caseTitle}}</span>
  <span fxFlex="25%">{{hearingPart.hearingType.description}}</span>
  <span fxFlex="10%">{{hearingPart.start | appDateTimeToHHmm}}</span>
  <span fxFlex="10%">{{ getDuration() | appDurationFormat }}</span>
  <span fxFlex="5%" *ngIf="hearingPart.multiSession">*</span>
</div>