<div>
    <mat-button-toggle-group name="viewType" value="rooms">
        <mat-button-toggle (click)="setRoomView()" value="rooms">Rooms</mat-button-toggle>
        <mat-button-toggle (click)="setJudgeView()" value="judges">Judges</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<br />
<div>
    <app-room-planner *ngIf="view==='room'"
                      (eventClick)="eventClick($event)"
                      (loadDataAction)="loadDataForAllJudges($event)"
                      [initialStartDate]="lastSearchDateRange?.startDate"
    ></app-room-planner>
    <app-judge-planner *ngIf="view==='judge'"
                       (eventClick)="eventClick($event)"
                       (loadDataAction)="loadDataForAllJudges($event)"
                       [initialStartDate]="lastSearchDateRange?.startDate"
    ></app-judge-planner>
</div>
