<div style="display:flex">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Create a new listing request</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="row" fxLayoutGap="5%">
            <form [formGroup]="listingCreate" novalidate (ngSubmit)="create();" id="list-form" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.5%">
                <div class="error" *ngIf="errors">Error: {{errors}}</div>

                <mat-form-field>
                    <input id="caseNumber" formControlName="caseNumber" [(ngModel)]="listing.caseNumber" matInput placeholder="Case number *" type="text">
                </mat-form-field>

                <mat-form-field>
                    <input id="caseTitle" formControlName="caseTitle" [(ngModel)]="listing.caseTitle" matInput placeholder="Case title *" type="text" >
                </mat-form-field>

                <mat-form-field>
                    <mat-select id="selectCaseType" formControlName="caseType" placeholder="Case type *"
                                [(ngModel)]="listing.caseType"
                                (selectionChange)="onCaseTypeChanged($event)">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let case of caseTypes" selected="case.code === listing.caseType" [value]="case.code">{{case.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select id="selectHearingPart" formControlName="hearingType"
                                placeholder="Hearing type *" [(ngModel)]="listing.hearingType">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let hearing of hearings" selected="hearing.code == listing.hearingType" [value]="hearing.code">{{hearing.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input id="duration" formControlName="duration" [ngModel]="listing.duration | appDurationAsMinutes" (ngModelChange)="updateDuration($event)" type="number" matInput placeholder="Estimated duration *" min="1" >
                    <span matSuffix>Minutes</span>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="createdAt" formControlName="createdAt" [(ngModel)]="listing.createdAt" placeholder="Created at:">
                    <mat-datepicker-toggle matSuffix [for]="createdAt"></mat-datepicker-toggle>
                    <mat-datepicker #createdAt></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Priority level" [(value)]="listing.priority" required>
                        <mat-option *ngFor="let priority of priorityValues" value="{{priority}}">{{priority}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select id="communicationFacilitator" placeholder="Communication Facilitator" [(value)]="listing.communicationFacilitator">
                        <mat-option *ngFor="let facilitators of communicationFacilitators" [value]="facilitators">{{facilitators}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select id="judge"  placeholder="Reserved to Judge" [(value)]="listing.reservedJudgeId">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let judge of judges" value="{{judge.id}}">{{judge.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div formGroupName="targetDates">
                    <div style="padding-bottom:3px">Target Schedule <i>(DD/MM/YYYY)</i></div>
                    <div class="error" *ngIf="listingCreate.get('targetDates').hasError('targetFromAfterTargetTo')">
                        <i>Target from</i> must be before <i>Target to</i>!
                    </div>
                    <mat-form-field class="date-picker-element">
                        <input id="fromDate" matInput [matDatepicker]="pickerStart" formControlName="targetFrom"  [(ngModel)]="listing.scheduleStart" placeholder="From:" re>
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="date-picker-element">
                        <input id="endDate" matInput [matDatepicker]="pickerEnd" formControlName="targetTo" [(ngModel)]="listing.scheduleEnd" placeholder="To:">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                </div>
            </form>

            <div style="padding-right: 2em">
                <div fxLayout="column" fxLayoutGap="10%">
                    <app-note-list [notes]="listing.notes"></app-note-list>
                </div>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <button id="save" mat-raised-button color="accent" form="list-form" fxFlexAlign="right" type="submit" [disabled]="!listingCreate.valid">Save</button>
        </mat-card-actions>
    </mat-card>
</div>