<div style="display:flex">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="editMode">Edit listing request</mat-card-title>
            <mat-card-title *ngIf="!editMode">Create a new listing request</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="row" fxLayoutGap="5%">
            <form [formGroup]="listingCreate" novalidate (ngSubmit)="save();" #listingCreateForm="ngForm" id="list-form" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0.5%">
                <div class="error" *ngIf="errors">Error: {{errors}}</div>

                <mat-form-field>
                    <input id="caseNumber" formControlName="caseNumber" [(ngModel)]="listing.hearing.caseNumber"
                           (change)="listing.hearing.caseNumber = listing.hearing.caseNumber.trim()"
                           maxlength="{{caseNumberMaxLength}}" matInput placeholder="Case number *" type="text">
                </mat-form-field>

                <mat-form-field>
                    <input id="caseTitle" formControlName="caseTitle" [(ngModel)]="listing.hearing.caseTitle"
                           (change)="listing.hearing.caseTitle = listing.hearing.caseTitle.trim()"
                           maxlength="{{caseTitleMaxLength}}" matInput placeholder="Case title" type="text" >
                </mat-form-field>

                <mat-form-field>
                    <mat-select id="selectCaseType" formControlName="caseTypeCode" placeholder="Case type *"
                                [(ngModel)]="listing.hearing.caseTypeCode"
                                (selectionChange)="onCaseTypeChanged($event)">
                        <mat-option *ngFor="let case of caseTypes" selected="case.code === listing.hearingPart.caseTypeCode" [value]="case.code">{{case.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select id="selectHearingPart" formControlName="hearingTypeCode"
                                placeholder="Hearing type *" [(ngModel)]="listing.hearing.hearingTypeCode">
                        <mat-option *ngFor="let hearing of hearings" selected="hearing.code == listing.hearingPart.hearingTypeCode" [value]="hearing.code">{{hearing.description}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-tab-group formGroupName="listingType">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            Single session
                        </ng-template>
                        <mat-form-field>
                            <input id="duration-minutes" formControlName="duration" [ngModel]="durationMinutes | appDurationAsMinutes" (ngModelChange)="updateDuration($event, 'minute')" type="number" matInput placeholder="Estimated duration *" min="1" >
                            <span matSuffix>Minutes</span>
                        </mat-form-field>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            Multi session
                        </ng-template>
                        <mat-form-field>
                            <input id="duration-days" formControlName="duration" [ngModel]="durationDays | appDurationAsDays" (ngModelChange)="updateDuration($event, 'day')" type="number" matInput placeholder="Estimated duration *" min="1" >
                            <span matSuffix>Days</span>
                        </mat-form-field>

                        <mat-form-field>
                            <input id="number-of-sessions" formControlName="numberOfSessions" [ngModel]="listing.hearing.numberOfSessions" type="number" matInput placeholder="Number of sessions" min="1" >
                            <span matSuffix>Sessions</span>
                        </mat-form-field>
                    </mat-tab>
                </mat-tab-group>

                <mat-form-field>
                    <mat-select placeholder="Priority level" [(value)]="listing.hearing.priority" required>
                        <mat-option *ngFor="let priority of priorityValues" value="{{priority}}">{{priority}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select id="communicationFacilitator" placeholder="Communication Facilitator" [(value)]="listing.hearing.communicationFacilitator">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let facilitators of communicationFacilitators" [value]="facilitators">{{facilitators}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select id="judge"  placeholder="Reserved to Judge" [(value)]="listing.hearing.reservedJudgeId">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let judge of judges" value="{{judge.id}}">{{judge.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div formGroupName="targetDates">
                    <div style="padding-bottom:3px">Target Schedule <i>(DD/MM/YYYY)</i></div>
                    <div class="error" *ngIf="listingCreate.get('targetDates').hasError('targetFromAfterTargetTo')">
                        <i>Target from</i> must be before <i>Target to</i>!
                    </div>
                    <mat-form-field class="date-picker-element">
                        <input id="fromDate" matInput [matDatepicker]="pickerStart" formControlName="targetFrom" [(ngModel)]="listing.hearing.scheduleStart" placeholder="From:" re>
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="date-picker-element">
                        <input id="endDate" matInput [matDatepicker]="pickerEnd" formControlName="targetTo" [(ngModel)]="listing.hearing.scheduleEnd" placeholder="To:">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                </div>
            </form>

            <div style="padding-right: 2em">
                <div fxLayout="column" fxLayoutGap="10%">
                    <app-listing-note-list #notesComponent [notes]="this.listing.notes" [entityId]="this.listing.hearing.id"></app-listing-note-list>
                </div>
            </div>

        </mat-card-content>

        <mat-card-actions>
            <button id="save" mat-raised-button color="accent" (click)="listingCreateForm.ngSubmit.emit()" fxFlexAlign="right" type="submit" [disabled]="!listingCreate.valid">Save</button>
        </mat-card-actions>
    </mat-card>
</div>