<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
  <div fxFlex="25%">
    <app-hearings-filter
            (onFilter)="onFilter($event)"
            [filterValues]="latestFilters"
            [judges]="judges"
            [caseTypes]="caseTypes"
            [hearingTypes]="hearingTypes">
    </app-hearings-filter>
  </div>
  <div fxFlex>
    <div class="heading">
      Listing Requests:
    </div>

    <div>
      <app-hearing-search-table id="hearing-search-table"
                                [hearings]="filteredHearings"
                                [pagingValues]="latestPaging"
                                [totalCount]="totalCount"
                                (onDelete)="onDelete($event)"
                                (onAmend)="onAmend($event)"
                                (onNextPage)="onNextPage($event)">
      </app-hearing-search-table>
    </div>
  </div>
</div>