<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px">
  <div fxFlex="25%">
    <app-hearings-filter
            (filter)="filter($event)"
            [judges]="judges$ | async"
            [caseTypes]="caseTypes$ | async"
            [hearingTypes]="hearingTypes$ | async"
    >
    </app-hearings-filter>
  </div>
  <div fxFlex>
    <div class="heading">
      Listing Requests:
    </div>

    <div>
      <app-hearing-search-table id="hearing-search-table"
                                [hearings]="filteredHearings"
                                (onAmend)="onAmend($event)">
      </app-hearing-search-table>
    </div>
  </div>
</div>