<mat-table id="hearings-part-table" *ngIf="dataSource" #table [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container matColumnDef="selectHearing">
    <mat-header-cell *matHeaderCellDef> Select</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? toggleHearing(element) : null"
                    [checked]="selectedHearingPart.isSelected(element)">&nbsp;
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="caseNumber">
    <mat-header-cell *matHeaderCellDef> Case Number</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a id="view-hearing-{{element.id}}" routerLink="/home/hearing/{{element.id}}">{{element.caseNumber}}</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="caseTitle">
    <mat-header-cell *matHeaderCellDef> Case Title</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caseTitle}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="priority">
    <mat-header-cell *matHeaderCellDef> Priority</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.priority}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="caseType">
    <mat-header-cell *matHeaderCellDef> Case Type</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caseTypeDescription}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="hearingType">
    <mat-header-cell *matHeaderCellDef> Hearing Type</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.hearingTypeDescription}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="communicationFacilitator">
    <mat-header-cell class="communicationFacilitator" *matHeaderCellDef> Communication Facilitator</mat-header-cell>
    <mat-cell class="communicationFacilitator" *matCellDef="let element"> {{element.communicationFacilitator}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reservedJudge">
    <mat-header-cell *matHeaderCellDef> Reserved to Judge</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.reservedJudgeName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="requestStatus">
    <mat-header-cell *matHeaderCellDef> Request status</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{getStatusText(element)}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="listingDate">
    <mat-header-cell *matHeaderCellDef> Listing date</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{parseDate(element.listingDate)}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="amend">
    <mat-header-cell *matHeaderCellDef> Amend</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span [class.clickable]="true" (click)="amend(element)">Amend</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator id="hearings-part-table-paginator" [length]="totalCount" [pageSize]="10"
               [pageSizeOptions]="[100, 10, 20]" showFirstLastButtons></mat-paginator>