/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~fullcalendar/dist/fullcalendar.css";
@import "~fullcalendar-scheduler/dist/scheduler.css";

/* Remove user agent margin == use full width of screen */
body {
    margin: 0;
}

html * {
    font-family: nta !important;
}

.primary-colored-background {
    background-color: #673ab7;
}

mat-dialog-container {
    max-height: 90vh;
}

a {
    cursor: pointer;
}
.snl-informative-legend {
    font-style: italic;
}