<mat-table *ngIf="hearingPartsDataSource" #table [dataSource]="hearingPartsDataSource">
  <!-- Position Column -->
  <ng-container matColumnDef="case number">
    <mat-header-cell *matHeaderCellDef> Case Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caseNumber}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="case title">
    <mat-header-cell *matHeaderCellDef> Case Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caseTitle}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="case type">
    <mat-header-cell *matHeaderCellDef> Case Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.caseType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hearing type">
    <mat-header-cell *matHeaderCellDef> Hearing Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.hearingType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="target schedule from">
    <mat-header-cell *matHeaderCellDef> Target Schedule From </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.scheduleStart}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="target schedule to">
    <mat-header-cell *matHeaderCellDef> Target Schedule To </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.scheduleEnd}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="session" >
    <mat-header-cell *matHeaderCellDef fxFlex="200px"> Session </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="200px">
        <mat-form-field>
          <mat-select [(value)]="element.session" fxFlex="400px">
            <mat-option *ngFor="let session of sessions" value="{{session.id}}">{{session.person?.name}} | {{session.room?.name}} | {{session.start}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="assignToSession.emit({hearingPartId: element.id, sessionId: element.session})">Assign</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="listed">
    <mat-header-cell *matHeaderCellDef> Is listed? </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span>{{isListed(element.session)}}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>