mat-card {
  max-width: 900px;
  margin: 0 auto;
}

.left {
  float: left;
}

.note .content {
  width: 600px;
}

.note .author-info {
  width: 300px;
}

mat-panel-title {
  display: block;
}

.listing-header .tile {
  width: 115px;
  float: left;
  padding: 14px;
}

.scheduled-listings .listing .expand-button {
  text-align: right;
  clear: right;
  float: right;
  width: 200px;
}

.clear {
  clear: both;
}

.mat-grid-tile .mat-grid-tile-header {
  background: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 0px;
}

.grid .tile {
  width: 280px;
  float: left;
  min-height: 70px;
}

.case-number {
  font-weight: normal;
}