<mat-card *ngIf="hearing">
  <span><a (click)="goBack()"><< back</a></span>
  <div fxLayout="row" fxLayoutAlign="start">
    <div fxFlex="90">
      <span id="case-number">
        <span class="case-number">{{hearing.caseNumber}}</span>
        <strong>{{hearing.caseTitle}}</strong>
      </span>
    </div>
      <mat-select #actionSelect id="action" value="{{hearingActions.Actions}}" fxFlex="10" (selectionChange)="onActionChanged($event)">
        <mat-option [value]="hearingActions.Actions">{{hearingActions.Actions}}</mat-option>
        <mat-option *ngFor="let action of possibleActionsKeys" [value]="action" [disabled]="!possibleActions[action].enabled">{{action}}</mat-option>
      </mat-select>
  </div>

  <div class="grid">
    <div class="tile">
      <strong>Case type</strong><br>
      {{hearing.caseType}}
    </div>

    <div class="tile">
      <strong>Hearing Type</strong><br>
      {{hearing.hearingType}}
    </div>

    <div class="tile">
      <strong>Priority</strong><br>
      {{hearing.priority}}
    </div>

    <div class="tile">
      <strong>Estimated duration
      </strong><br>
      {{hearing.duration | appDurationFormat}}<ng-container *ngIf="hearing.multiSession; then days; else minutes"></ng-container>
      <ng-template #days>ay(s)</ng-template>
      <ng-template #minutes> (Hours / Minutes)</ng-template>
    </div>

    <div class="tile">
      <strong>Required Sessions</strong><br>
      {{(hearing.numberOfSessions)}}
    </div>

    <div class="tile">
      <strong>List between</strong><br>
      {{getListBetween()}}
    </div>

    <div class="tile">
      <strong>Reserved for</strong><br>
      {{hearing.reservedToJudge}}
    </div>

    <div class="tile">
      <strong>Communication facilitator</strong><br>
      {{hearing.communicationFacilitator}}
    </div>

    <div class="tile">
      <strong>Status</strong><br>
      {{hearing.status}}
    </div>

    <div class="tile">
      <strong>Special requirements</strong><br>
      {{hearing.specialRequirements}}
    </div>

    <div class="tile">
      <strong>Facility requirements</strong><br>
      {{hearing.facilityRequirements}}
    </div>

    <div class="tile">
    </div>

    <div class="clear"></div>
  </div>
  <mat-tab-group>

    <mat-tab label="Notes">
      <mat-list class="hearing-notes">
        <mat-list-item *ngFor="let note of hearing.notes" class="note">
          <div class="content">
            {{note.content}}
          </div>
          <div class="author-info">
            <strong>{{note.modifiedBy}}</strong><br>
            {{note.createdAt | appMomentFormat}}
          </div>
        </mat-list-item>
      </mat-list>

      <app-create-hearing-note [note]="note" (onSubmit)="onSubmit($event)"></app-create-hearing-note>
    </mat-tab>

    <mat-tab label="Scheduled listings">
      <mat-accordion>
        <mat-expansion-panel [expanded]="!isScheduledListingNotesPanelDisabled(session)" *ngFor="let session of hearing.sessions" [disabled]="isScheduledListingNotesPanelDisabled(session)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div style="display:flex" fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="space-between center">
                <div fxFlex="25%">
                    {{session.start | appMomentFormat: SESSION_STARTTIME_FORMAT}}
                </div>
                <div fxFlex="20%">
                  {{session.sessionType}}
                </div>

                <div fxFlex="20%">
                  <span matInput>Start: {{session.hearingPartStartTime | appMomentFormat: HEARING_PART_STARTTIME_FORMAT}}</span>
                    <button mat-button matSuffix aria-label="search" (click)="openAmendDialog(session)">
                      Modify
                    </button>
                </div>
                <div fxFlex="5%">
                  {{session.duration | appDurationFormat}}
                </div>
                <div fxFlex="10%">
                  {{session.roomName}}
                </div>
                <div fxFlex="10%">
                  {{session.judgeName}}
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item *ngFor="let note of session.notes" class="note">
              <div class="content">
                {{note.content}}
              </div>
              <div class="author-info">
                <strong>{{note.modifiedBy}}</strong><br>
                {{note.createdAt | appMomentFormat}}
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</mat-card>